
.main-menu img {
    @media (min-width: 1440px){
    // ici, l'image est un peu plus haute que dans la page d'accueil
    height: 383px;
    // ici j'ajuste la position verticale de l'image par rapport à son masque pour correspondre à la maquette
    object-position: 0 -370px;
    
    }
}



.menu {
    
    width: 93%; 
    position: relative;
    top: -30px;
    background-color: var(--bg-grey-1);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
    @media (min-width: 1440px){
        // 1055px/1440px sur la maquette
        width: 73%;
    }      
    
    &__title{
        width: 93%;
        display: flex;
        justify-content: flex-start;
        gap: 25px;
        align-items: baseline;
        margin-top: 32px;
        position: relative;
        @media (min-width: 1440px){
            justify-content: center;
            gap: 24px;

        }
            
        
        }
        h1{
            font-style: italic;
            font-size: 1.75rem;
        }
        //ici je précise fa-heart plutôt que i seulement car sinon, je créé une confusion plus tard avec mon autre icône i check de chez Font Awesome
        .fa-heart {
            position: absolute;
            right: 25px; 
            font-size: 22px;
            @media (min-width: 1440px){
                right: unset
            }    
        }
        .full{
            background-image: linear-gradient(175deg, var(--primary-color) 0%, var(--secondary-color) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            visibility: hidden;                              
            }
        .empty {
            visibility: visible;
        }
        #activation1:checked ~ label {
            .empty {
                visibility: hidden;                  
            }

            .full{            
                visibility: visible;
            }
        }  
    &__starter1,
    &__starter2,
    &__starter3,
    &__starter4,
    &__dish1,
    &__dish2,
    &__dish3,
    &__dessert1,
    &__dessert2,
    &__dessert3,
    &__dishes
     {
        @include menu-card;
        }
    &__dishes {
        article h2{
            display: none;
        }
        @media (min-width: 1440px){
            width: 60%;
        }
    }
        h3 {
            position: relative; 
            font-weight: 300;       
        }
        // les pseudo-éléments  ::before  et  ::after  créent un élément qui est respectivement le premier ou le dernier enfant de l’élément sélectionné. Cf cours case 12. 
        h3::before {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 40px;
            height: 3px;
            background-color: var(--green);
        }
    }
    // Ici, je fais remonter les footer des menus pour compenser la position absolute -30px de l'élément précédent
    .height-adaptation {
        margin-top: -30px;
    }